[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypdf4 = "~=1.27.0"
pyqt5 = "~=5.15.2"
qdarkstyle = "~=2.8.1"
pillow = "~=8.2.0"

[dev-packages]
pylint = ">=2.6.0"
mypy = ">=0.800"
black = ">=20.8b1"
rope = "*"
isort = "*"
cx-freeze = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
