[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypdf4 = "*"
pyqt5 = "*"
qdarkstyle = "*"
pillow = "*"

[dev-packages]
pylint = "*"
mypy = "*"
black = "*"
rope = "*"
isort = "*"
cx-freeze = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
