[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypdf4 = "~=1.27.0"
pyinstaller = ">=4.2"
pyqt5 = "~=5.15.2"
qdarkstyle = "~=2.8.1"

[dev-packages]
pylint = ">=2.6.0"
mypy = ">=0.800"
black = ">=20.8b1"
ipykernel = "*"
matplotlib = "*"
rope = "*"
pyqt5-tools = ">=5.15.2.1.0.1"
isort = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
